.App{
    min-width: fit-content;
    margin-top: 75px;
    margin-bottom: 75px;
    border-radius: 10px;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
    border: 1px rgb(215, 243, 248) solid;
    background-color: #fff;
    min-height: fit-content;
}

@media screen and (max-width: 600px) {
    .App{
        background-color: transparent;
        margin-top: 70px;
    }
}

/* Footer Styles */
footer.home {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #333;
    color: white;
    width: 100%;
    padding: 5px 0;
    padding-bottom: 0;
    text-align: center;
  }
  
  .footer-content {
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-links {
    margin-bottom: 5px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: .7rem;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #ff4500; 
  }
  
  .footer-social {
    margin-bottom: 0px;
  }
  
  .footer-social a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: .6rem;
    transition: color 0.3s ease;
  }
  
  .footer-social a:hover {
    color: #ff4500;
  }
  
  footer p {
    font-size: .6rem;
    margin-top: 5px;
    color: #bbb; 
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .footer-links,
    .footer-social {
      text-align: center;
    }
  
    .footer-links a,
    .footer-social a {
      margin: 10px 0;
      display: inline-block;
    }
  }
  

  /* Overall About Us Section */
.about-us {
  font-family: 'Arial', sans-serif;
  padding: 5px 20px;
  background-color: #f8f9fa;
}

.about-us h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 5px;
  margin-top: 0;
}

/* About Content */
.about-content {
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Section Titles */
.about-content h3 {
  font-size: 2rem;
  margin-bottom: 0px;
  color: #007bff;
  margin-top: 0;
}

/* Paragraph Styles */
.about-content p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  margin: 10px 0;
  text-align: justify;

}

/* List Styles */
.about-content ul {
  padding-left: 20px;
}

.about-content ul li {
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #555;
}

/* Contact Link */
.about-content a {
  color: #007bff;
  text-decoration: none;
}

.about-content a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-us {
    padding: 20px;
  }

  .about-content {
    padding: 20px;
  }

  .about-content h1 {
    font-size: 2.5rem;
  }

  .about-content h3 {
    font-size: 1.8rem;
  }

  .about-content p {
    font-size: 1rem;
  }

  .about-content ul li {
    font-size: 1rem;
  }
}

/* Privacy Policy Page */
.privacy-policy {
  font-family: 'Arial', sans-serif;
  padding: 10px;
  background-color: #f8f9fa;
}

.privacy-policy h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin: 10px 0;
  margin-bottom: 0;
}

/* Privacy Policy Content */
.privacy-policy-content {
  margin: 0 auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.privacy-policy-content h3 {
  font-size: 2rem;
  margin: 5px 0;
  color: #007bff;
  margin-bottom: 0;
}

.privacy-policy-content p,
.privacy-policy-content ul {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  margin: 10px 0;
  margin-top: 5px;
  text-align: left;
}

.privacy-policy-content a {
  color: #007bff;
  text-decoration: none;
}

.privacy-policy-content a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .privacy-policy {
    padding: 20px;
  }

  .privacy-policy-content {
    padding: 20px;
  }

  .privacy-policy h1 {
    font-size: 2.5rem;
  }

  .privacy-policy-content h3 {
    font-size: 1.8rem;
  }

  .privacy-policy-content p {
    font-size: 1rem;
  }

  .privacy-policy-content ul li {
    font-size: 1rem;
  }
}


/* Terms and Conditions Page */
.terms-and-conditions {
  font-family: 'Arial', sans-serif;
  padding: 0px;
  background-color: #f8f9fa;
}

.terms-and-conditions h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin: 10px 0;
}

.terms-content {
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.terms-content .privacy-policy{
  padding: 0;
  background-color: transparent;
}

.terms-content h3 {
  font-size: 1.4rem;
  margin: 5px 0;
  color: #007bff;
  font-weight: 500;
  margin-top: 8px;
}

.terms-content p,
.terms-content ul {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  margin: 0px;
  text-align: left;
}

.terms-content a {
  color: #007bff;
  text-decoration: none;
}

.terms-content a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .terms-and-conditions {
    padding: 20px;
  }

  .terms-content {
    padding: 20px;
  }

  .terms-and-conditions h1 {
    font-size: 2.5rem;
  }

  .terms-content h3 {
    font-size: 1.8rem;
  }

  .terms-content p {
    font-size: 1rem;
  }

  .terms-content ul li {
    font-size: 1rem;
  }
}

