.App{
    min-width: fit-content;
    margin-top: 75px;
    margin-bottom: 75px;
    border-radius: 10px;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
    border: 1px rgb(215, 243, 248) solid;
    background-color: #fff;
    min-height: fit-content;
}

@media screen and (max-width: 600px) {
    .App{
        background-color: transparent;
        margin-top: 70px;
    }
}
