.App{
    min-width: fit-content;
    max-width: 100%;
    margin-top: 75px;
    border-radius: 10px;
    min-height: fit-content;
    padding: 20px;
    margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
    .App{
        background-color: transparent;
        margin-top: 70px;
    }
}