
/* Admin Container */
.admin-container {
    width: fit-content;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: start;
    margin: 0 20px 20px 0;
    text-decoration: underline;
    color: #333;
}

.admin-functions{
    width: 100%;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s ease;
}

h3:hover {
    color: #0056b3;
}

/* Modal Styles */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    min-width: fit-content;
    max-height: fit-content;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    padding-bottom: 0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.3s ease;
    opacity: 1;
}
/* Close Button */
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    background-color: transparent;
    border: none;
    transition: color 0.3s ease-in-out;
}

.modal-close:hover {
    color: #e74c3c;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .admin-container {
        width: 100%;
        padding: 15px;
    }

    .modal-content {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .modal-content {
        width: 95%;
        padding: 10px;
    }
}
