.login-form{
    padding: 20px;
    border-radius: 5px;
    width: 450px;
    background-color: #ffffff;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
}

.login-form h2{
    margin: 0;
    margin-bottom: 10px;
    color: #2c3e50;
}

.login-form form{
    width: 100%;

}

.user-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
}

.user-details label{
    font-size: 16px;
    color: #555;
    font-weight: 600;
    margin-bottom: 4px;
}

.user-details input, .user-details textarea{
    width: 95%;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccd0d5;
    padding: 8px;
    font-size: 15px;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.3s ease;

}

.user-details textarea{
    max-width: 95%;
    min-width: 95%;
    max-height: 80px;
    min-height: 50px;
}
  
.user-details input:focus, .user-details textarea:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.1);
}

.user-details div{
    display: flex;
    align-items: center;
    width: 100%;
    transition: border-color 0.3s ease;
    cursor: pointer;
    border: 1px solid #ccd0d5;
    border-radius: 5px;

}

.user-details div input{
    border: none;
}

.user-details div input:focus{
    box-shadow: none;

}
  
.password-visibility {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: #555;
    font-size: 14px;
}
  
  .password-visibility:hover {
    color: #000;
  }
  
  .navigate {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: #666;
  }
  
  .navigate button {
    background: none;
    border: none;
    color: #3498db;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
  }
  
  .navigate button:hover {
    text-decoration: underline;
  }
  
  .submit-btn {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
  .submit-btn button {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .submit-btn button:hover {
    background-color: #2980b9;
  }
  
  p {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
  }
  