.users {
    width: 100%;
    font-family: Arial, sans-serif;
}

.users h2{
    text-decoration: none;
}

.loading, .error {
    text-align: center;
    font-size: 18px;
    color: #f44336;
}

.users-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.users-table th, .users-table td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.users-table th {
    background-color: #4CAF50;
    color: white;
}

.users-table tr:hover {
    background-color: #f5f5f5;
}

.update{
    border: none;
    outline: none;
    background-color: #0054d1;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #f5f5f5;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.update:hover{
    background-color: #2980B9;
}

/* Edit modal */
.edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input:disabled,
.form-group select:disabled {
    background-color: #f4f4f4;
}

.modal-actions {
    text-align: right;
}

.modal-actions button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-actions button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Pagination styling */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    margin-bottom: 5px;
}

.pagination-button {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    font-size: 18px;
    margin: 0 10px;
}

.delete{
    background-color: red;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: gainsboro;
    font-size: 14px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.delete:hover{
    background-color: rgb(255, 20, 20);
}

.restore{
    background-color: #3498db;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: gainsboro;
    font-size: 14px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.restore:hover{
    background-color: #2980b9;
}


.options{
    position: relative;
}

.users-table .options button {
    background-color: transparent;
    color: #333;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out;
    outline: none;
}

.options .icon{
    font-size: 12px;
    color: grey;
}

/* Button hover effect */
.users-table .options button:hover {
    background-color: #e9e9e9;
    transform: translateY(-2px);
}

.user-options{
    position: absolute;
    top: 90%;
    right: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: fit-content;
    width: 150px;
    padding: 5px 10px;
    border-radius: 5px;
}

.user-options p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    text-align: left;
}

.user-options p:hover {
    color: #007BFF;
}

/* Modal styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }
  